body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.image_a{
    box-shadow: 0 0 20px black;
    cursor: pointer;animation: upward 10s;   
}

@keyframes upward {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px); 
    }
    100% {
        transform: translateY(0);
    }
}
